.expense-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
}

.expense-item_price {
  margin-left: auto;
  padding: 10px 24px 10px 16px;
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  border-radius: 100px;
}